In [2]:
import pandas as pd
import matplotlib.pyplot as plt

%matplotlib inline

import glob

In [5]:
filenames = glob.glob('csvs/*2017*csv')

In [6]:
filenames

['csvs/201701-citibike-tripdata.csv',
 'csvs/201702-citibike-tripdata.csv',
 'csvs/201703-citibike-tripdata.csv',
 'csvs/201704-citibike-tripdata.csv',
 'csvs/201705-citibike-tripdata.csv',
 'csvs/201706-citibike-tripdata.csv',
 'csvs/201707-citibike-tripdata.csv',
 'csvs/201708-citibike-tripdata.csv',
 'csvs/201709-citibike-tripdata.csv',
 'csvs/201710-citibike-tripdata.csv',
 'csvs/201711-citibike-tripdata.csv',
 'csvs/201712-citibike-tripdata.csv',
 'csvs/JC-201701-citibike-tripdata.csv',
 'csvs/JC-201702-citibike-tripdata.csv',
 'csvs/JC-201703-citibike-tripdata.csv',
 'csvs/JC-201704-citibike-tripdata.csv',
 'csvs/JC-201705-citibike-tripdata.csv',
 'csvs/JC-201706-citibike-tripdata.csv',
 'csvs/JC-201707-citibike-tripdata.csv',
 'csvs/JC-201708 citibike-tripdata.csv',
 'csvs/JC-201709-citibike-tripdata.csv',
 'csvs/JC-201710-citibike-tripdata.csv',
 'csvs/JC-201711-citibike-tripdata.csv',
 'csvs/JC-201712-citibike-tripdata.csv']

I've scoured the files, and it looks like the files with `JC-` is additional data (the files are much smaller), so we'll be useing both.

In [7]:
dataframes = []

for filename in filenames:
    df = pd.read_csv(filename)
    df['filename'] = filename
    dataframes.append(df)
len(dataframes)

24

In [9]:
#Still super slow, but much better than the omnibus notebook.
everything = pd.concat(dataframes, ignore_index=True, sort=True)
everything.head()

,Bike ID,Birth Year,End Station ID,End Station Latitude,End Station Longitude,End Station Name,Gender,Start Station ID,Start Station Latitude,Start Station Longitude,...,filename,gender,start station id,start station latitude,start station longitude,start station name,starttime,stoptime,tripduration,usertype
0,25542.0,1965.0,3165.0,40.775794,-73.976206,Central Park West & W 72 St,2.0,3226.0,40.782750,-73.971370,...,csvs/201701-citibike-tripdata.csv,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,21136.0,1987.0,498.0,40.748549,-73.988084,Broadway & W 32 St,2.0,3263.0,40.729236,-73.990868,...,csvs/201701-citibike-tripdata.csv,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,18147.0,NaN,3152.0,40.768737,-73.961199,3 Ave & E 71 St,0.0,3143.0,40.776829,-73.963888,...,csvs/201701-citibike-tripdata.csv,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,21211.0,NaN,3152.0,40.768737,-73.961199,3 Ave & E 71 St,0.0,3143.0,40.776829,-73.963888,...,csvs/201701-citibike-tripdata.csv,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,26819.0,NaN,3152.0,40.768737,-73.961199,3 Ave & E 71 St,0.0,3143.0,40.776829,-73.963888,...,csvs/201701-citibike-tripdata.csv,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
everything.columns

Index(['Bike ID', 'Birth Year', 'End Station ID', 'End Station Latitude',
       'End Station Longitude', 'End Station Name', 'Gender',
       'Start Station ID', 'Start Station Latitude', 'Start Station Longitude',
       'Start Station Name', 'Start Time', 'Stop Time', 'Trip Duration',
       'User Type', 'bikeid', 'birth year', 'end station id',
       'end station latitude', 'end station longitude', 'end station name',
       'filename', 'gender', 'start station id', 'start station latitude',
       'start station longitude', 'start station name', 'starttime',
       'stoptime', 'tripduration', 'usertype'],
      dtype='object')

In [11]:
#The JC- files have differently named columns. Duh. Let's fix that:
everything['Birth Year'].fillna(everything['birth year'], inplace=True)

In [14]:
everything['Bike ID'].fillna(everything.bikeid, inplace=True)
everything['End Station ID'].fillna(everything['end station id'], inplace=True)
everything['End Station Latitude'].fillna(everything['end station latitude'], inplace=True)
everything['End Station Longitude'].fillna(everything['end station longitude'], inplace=True)
everything['End Station Name'].fillna(everything['end station name'], inplace=True)
everything['Gender'].fillna(everything['gender'], inplace=True)
everything['Start Station ID'].fillna(everything['start station id'], inplace=True)
everything['Start Station Latitude'].fillna(everything['start station latitude'], inplace=True)
everything['Start Station Longitude'].fillna(everything['start station longitude'], inplace=True)
everything['Start Station Name'].fillna(everything['start station name'], inplace=True)
everything['Start Time'].fillna(everything['starttime'], inplace=True)
everything['Stop Time'].fillna(everything['stoptime'], inplace=True)
everything['Trip Duration'].fillna(everything['tripduration'], inplace=True)
everything['User Type'].fillna(everything['usertype'], inplace=True)

In [15]:
everything.head(5)

,Bike ID,Birth Year,End Station ID,End Station Latitude,End Station Longitude,End Station Name,Gender,Start Station ID,Start Station Latitude,Start Station Longitude,...,filename,gender,start station id,start station latitude,start station longitude,start station name,starttime,stoptime,tripduration,usertype
0,25542.0,1965.0,3165.0,40.775794,-73.976206,Central Park West & W 72 St,2.0,3226.0,40.782750,-73.971370,...,csvs/201701-citibike-tripdata.csv,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,21136.0,1987.0,498.0,40.748549,-73.988084,Broadway & W 32 St,2.0,3263.0,40.729236,-73.990868,...,csvs/201701-citibike-tripdata.csv,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,18147.0,NaN,3152.0,40.768737,-73.961199,3 Ave & E 71 St,0.0,3143.0,40.776829,-73.963888,...,csvs/201701-citibike-tripdata.csv,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,21211.0,NaN,3152.0,40.768737,-73.961199,3 Ave & E 71 St,0.0,3143.0,40.776829,-73.963888,...,csvs/201701-citibike-tripdata.csv,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,26819.0,NaN,3152.0,40.768737,-73.961199,3 Ave & E 71 St,0.0,3143.0,40.776829,-73.963888,...,csvs/201701-citibike-tripdata.csv,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [16]:
everything.drop(columns=['bikeid', 'birth year', 'end station id',
       'end station latitude', 'end station longitude', 'end station name',
       'filename', 'gender', 'start station id', 'start station latitude',
       'start station longitude', 'start station name', 'starttime',
       'stoptime', 'tripduration', 'usertype'], inplace=True)

In [17]:
everything.columns

Index(['Bike ID', 'Birth Year', 'End Station ID', 'End Station Latitude',
       'End Station Longitude', 'End Station Name', 'Gender',
       'Start Station ID', 'Start Station Latitude', 'Start Station Longitude',
       'Start Station Name', 'Start Time', 'Stop Time', 'Trip Duration',
       'User Type'],
      dtype='object')

In [18]:
everything.shape

(16659585, 15)

In [20]:
#Okay! Let's save that to a csv and do some EDA (in a new notebook).
everything.to_csv('bikeshare2017.csv', index=False)

In [ ]:
#Ugh, still a 3GB file but oh well.