In [1]:
import pandas as pd
import matplotlib.pyplot as plt

%matplotlib inline

In [2]:
plt.rcdefaults()
plt.rcParams.update({
    'pdf.fonttype': 42,
    'ps.fonttype': 42,
    'figure.facecolor': '#2e112d',
    'axes.facecolor': '#2e112d',
    'font.size': 12,
    'text.color': '#ffdbc5',
    'axes.labelcolor': '#ffdbc5'
})

In [3]:
phil = pd.read_csv('phil.csv')
phil.head()

,Bike ID,Birth Year,End Station ID,End Station Latitude,End Station Longitude,End Station Name,Gender,Start Station ID,Start Station Latitude,Start Station Longitude,Start Station Name,Start Time,Stop Time,Trip Duration,User Type,at_rest
0,25738.0,1985.0,3148.0,40.775655,-73.950686,E 84 St & 1 Ave,1.0,3140.0,40.771404,-73.953517,1 Ave & E 78 St,2017-01-01 03:04:00,2017-01-01 03:06:43,163.0,Subscriber,0 days 06:13:06.000000000
1,25738.0,1952.0,3150.0,40.775369,-73.948034,E 85 St & York Ave,1.0,3148.0,40.775655,-73.950686,E 84 St & 1 Ave,2017-01-01 09:19:49,2017-01-01 09:26:46,416.0,Subscriber,0 days 01:15:34.000000000
2,25738.0,1962.0,520.0,40.759923,-73.976485,W 52 St & 5 Ave,2.0,3150.0,40.775369,-73.948034,E 85 St & York Ave,2017-01-01 10:42:20,2017-01-01 11:04:05,1304.0,Subscriber,0 days 01:31:23.000000000
3,25738.0,1962.0,3142.0,40.761227,-73.960940,1 Ave & E 62 St,2.0,520.0,40.759923,-73.976485,W 52 St & 5 Ave,2017-01-01 12:35:28,2017-01-01 12:44:34,545.0,Subscriber,0 days 00:46:42.000000000
4,25738.0,1962.0,3150.0,40.775369,-73.948034,E 85 St & York Ave,2.0,3142.0,40.761227,-73.960940,1 Ave & E 62 St,2017-01-01 13:31:16,2017-01-01 13:42:34,677.0,Subscriber,0 days 01:06:45.000000000

In [4]:
phil['Stop Time'] = pd.to_datetime(phil['Stop Time'])
phil['Start Time'] = pd.to_datetime(phil['Start Time'])
phil.at_rest = pd.to_timedelta(phil.at_rest)

In [7]:
df_end = phil[['End Station Latitude', 'End Station Longitude', 'End Station Name', 'Stop Time']]

In [8]:
df_start = phil[['Start Station Latitude', 'Start Station Longitude', 'Start Station Name', 'Start Time']]

In [14]:
df_end = df_end.rename(index=str, columns={'End Station Latitude': 'Station Latitude', 'End Station Longitude': 'Station Longitude', 'End Station Name': 'Station Name', 'Stop Time': 'Time'})

df_start = df_start.rename(index=str, columns={'Start Station Latitude': 'Station Latitude', 'Start Station Longitude': 'Station Longitude', 'Start Station Name': 'Station Name', 'Start Time': 'Time'})

In [18]:
df_qgis = df_start.merge(df_end, how='outer')

In [19]:
df_qgis.to_csv('phil_qgis.csv', index=False)

In [20]:
df_qgis['Station Latitude'].max()

40.8120562

In [21]:
df_qgis['Station Latitude'].min()

40.646768

In [23]:
df_qgis['Station Longitude'].describe()

count    5028.000000
mean      -73.984525
std         0.016404
min       -74.017134
25%       -73.994903
50%       -73.986724
75%       -73.976056
max       -73.929891
Name: Station Longitude, dtype: float64